asgiref==3.8.1
backports.zoneinfo==0.2.1
cffi==1.17.1
cryptography==45.0.6
dj-database-url==3.0.0
Django==4.2
django-browser-reload==1.15.0
django-extensions==3.2.3
django-tailwind==3.6.0
gunicorn==23.0.0
ibm-db-django==1.5.3.0
ibm_db==3.2.6
MarkupSafe==2.1.5
packaging==25.0
pillow==10.4.0
pycparser==2.22
pyOpenSSL==25.1.0
regex==2024.11.6
six==1.17.0
sqlparse==0.5.3
typing_extensions==4.13.2
tzdata==2025.2
Werkzeug==3.0.6
whitenoise==6.7.0
apscheduler==3.10.4